body {
   background: url('../images/background2.jpg');
   background-size: 100%;
   /*font-family: 'Roboto Slab', 'Roboto', serif;*/
}
.searching-box-container {
   margin-top: 100px;
   /*max-width: 600px;*/
   width: 50%;
   /*font-family: 'Roboto', sans-serif;*/
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   border-radius: 4px;
   box-shadow: 0px 0px 25px #313131;
   margin-left: auto;
   margin-right: auto;
   /*margin-top: 100px;*/
}
.dark-gradient {
   background: linear-gradient(#444, #2B2B2B);
}
.blue-gradient{
   background: linear-gradient(#335771, #273F50);
}
.top-list-container {
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   padding-left: 8px;
}
.top-list {
   margin: 0px;
   padding: 0px;
}
.top-list li {
   margin-right: 2px;
   display: inline-block;
   padding: 8px 0px 8px 8px;
}
.top-list li a {
   text-decoration: none;
   color: #eee;
}
.tab-selected {
   font-weight: bold;
}
.input-search {
   border: none;
   background-color: inherit;
   outline: none;
   width: 100%;
   font-size: 2em;
   padding: 8px;
   /*font-family: 'Roboto', sans-serif;*/
   font-family: 'Lato', sans-serif;
   color: #444;
   font-weight: 300;
}
.searching-box {
   background-color: #fafafa;
   /*height: 60px;*/
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   padding: 8px;
}
